.select {
  width: 100%;
  height: 35px;
  margin: 5px 0px 20px;
  padding: 5px;
  color: rgb(85, 83, 83);
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(85, 83, 83);
  border-radius: 4px;
  outline: none;
}

.select:focus {
  transform: scale(1.01);
}

.select::placeholder {
  font-size: 15px;
  text-transform: capitalize;
}

.select:focus::placeholder {
  color: transparent;
}
